<h1>Seja bem vindo ao  curso de Angular</h1>
<h4 class="text-danger">{{anuncio}}</h4>
<div class="card" style="width: 18rem;">
  <img [src]="foto">
  <div class="card-body">
    <h5 class="card-title">
      {{nomeProduto}}
      <!-- VERSÃO DE DIRETIVA ANTES DO ANGULAR 17
       <span *ngIf = "promocao; else elseBlock"class="badge text-bg-success">PROMOÇÃO</span>
      <ng-template #elseBlock>
        <span>APROVEITE</span>


      </ng-template>-->
       @if (promocao) {
        <span class="badge text-bg-success">PROMOÇÃO</span>
       }
        @else {
            <span class="badge text-bg-primary">
              APROVEITE
            </span>
        }
    </h5>
    <p class="card-text">Identificação: {{idProduto}}</p>
    <a href="#" class="btn btn-primary float-end">R$ {{precoProduto}}</a>

  </div>
</div>


